* {
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: Courier New, Courier, monospace;
}

body {
  text-align: center;
  margin-top: 5%;
  background-color: rgb(191, 191, 191);
  background-image: url('imgs/w-qjCHPZbeXCQ-unsplash.jpeg');
}

h1 {
  padding: 30px;
}

.color {
  border: 1px black solid;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px black solid;
  display: inline-block;
}

.buttons-container {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

#board-size {
  text-align: center;
  margin: 8px;
}
